################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/.vs/Ressential/FileContentIndex/008cdf3c-0bb3-4a42-80ac-4da414e28f5f.vsidx
/.vs/Ressential/FileContentIndex/2ad5e7ab-a853-4cf1-ac06-865fc76d9c6f.vsidx
/.vs/Ressential/FileContentIndex/396e9c56-5b25-413d-b5ce-f0dfe33bc848.vsidx
/.vs/Ressential/FileContentIndex/50e1ab22-5e27-454c-8536-57522228c5b1.vsidx
