.no-wrap {
    white-space: nowrap; /* Prevents text from wrapping */
}
.fit-content {
    width: 1%;
    white-space: nowrap;
}

.tbl-min-width-1 {
    min-width: 30px;
}
.tbl-min-width-2 {
    min-width: 60px;
}
.tbl-min-width-3 {
    min-width: 90px;
}
.tbl-min-width-4 {
    min-width: 120px;
}

.tbl-min-width-5 {
    min-width: 150px;
}

.tbl-min-width-6 {
    min-width: 180px;
}
.tbl-min-width-7 {
    min-width: 210px;
}

.tbl-min-width-8 {
    min-width: 240px;
}

.tbl-min-width-9 {
    min-width: 270px;
}

.tbl-min-width-10 {
    min-width: 300px;
}

.tbl-min-width-11 {
    min-width: 350px;
}

.tbl-min-width-12 {
    min-width: 400px;
}

.input-validation-error {
    border: 1px solid #dc3545; /* Red border */
    color: #721c24; /* Dark red text */
    padding-right: 2.5rem; /* Space for the icon */
    position: relative;
}

/* Styling for focused invalid input */
.input-validation-error:focus {
    border-color: #dc3545; /* Keep the red border */
    box-shadow: 0 0 0 0.18rem rgba(220, 53, 69, 0.25); /* Red shadow */
    outline: none; /* Remove default outline */
}

@media (max-width: 576px) {
    .product-qty-status {
        display: block;
        text-align: left;
        margin-top: 5px;
    }

    .action-btn {
        flex: 1 1 100%;
        margin: 5px 0;
    }
}