
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_KitchenLayout.cshtml";
}

<div class="pc-content">
    <!-- [ Main Content ] start -->
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-description">
                        Single Transaction
                    </h3>
                    <h4 class="card-title">Personal Information</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Title of Account</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="000****" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nature Account</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="countryID" name="[3].Value">
                                        <option value="">Select Account Nature</option>
                                        <option value="1">Current Account</option>
                                        <option value="2">Saving Account</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Account Curreny</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="countryID" name="[3].Value">
                                        <option value="0">Select Account Currency</option>
                                        <option value="1">PKR</option>
                                        <option value="2">USD</option>
                                        <option value="3">Dinar</option>
                                        <option value="4">Euro</option>
                                        <option value="5">Riyal</option>
                                        <option value="6">Dollar</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Account Instructions</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Singly***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">First Name</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Johnathan***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Last Name</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Wick***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Father Name</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Mr. Wick****" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Residental Address</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="House no **" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">City</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Karachi***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Country Name</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="countryID" name="[3].Value">
                                        <option value="">Select Country</option>
                                        <option value="2">Pakistan</option>
                                        <option value="2">India</option>
                                        <option value="2">South Africa</option>
                                        <option value="2">Singapore</option>
                                        <option value="2">Afghanistan</option>
                                        <option value="2">Canada</option>
                                        <option value="2">test</option>
                                        <option value="2">sdfs</option>
                                        <option value="2">india</option>
                                        <option value="2">Minibia</option>
                                        <option value="2">Dubai</option>
                                        <option value="2">Uganda</option>
                                        <option value="2">Ethopia</option>
                                        <option value="3">Sudan</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Post Code</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="746***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Contact No</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="+92***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Email</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="**gmail.com" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Gender</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="countryID" name="[3].Value">
                                        <option value="">Select Gender</option>
                                        <option value="1">Male</option>
                                        <option value="2">Female</option>
                                        <option value="2">Other</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">DOB</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="12-4-*" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Mother's Name</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Lara***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Country of Birth</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Pakistan***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Marial Status</label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="countryID" name="[3].Value">
                                        <option value="">Select Status</option>
                                        <option value="1">Single</option>
                                        <option value="2">Married</option>
                                        <option value="2">Widowed</option>
                                    </select>

                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Nationality</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Pakistani***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">CNIC Expiry</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="12**" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Occupation</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Salaried***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">Designation</label>
                                <div class="col-sm-9">
                                    <input type="text" placeholder="Manager***" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <hr style="color:blue;border:dotted;width:97%;">
                        <h4 class="card-title">Services</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Title of Account</label>
                                    <div class="col-sm-9">
                                        <input type="text" placeholder="000****" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Electronic Services</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="countryID" name="[3].Value">
                                            <option value="">Select Service</option>
                                            <option value="1">SMS Alerts</option>
                                            <option value="2">Mobile Banking</option>
                                            <option value="1">Internet Banking</option>
                                            <option value="2">E-Statement</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Check Book</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="countryID" name="[3].Value">
                                            <option value="">Select Requirement</option>
                                            <option value="1">Yes</option>
                                            <option value="2">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">Atm Card</label>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="countryID" name="[3].Value">
                                            <option value="">Select Requirement</option>
                                            <option value="1">Yes</option>
                                            <option value="2">No</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class=" row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <div class="col-sm-9">
                                            <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                            <button class="btn btn-light">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->
</div>

