
@{
    ViewBag.Title = "CreateIssue";
    Layout = "~/Views/Shared/_WarehouseLayout.cshtml";
}


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h2 class="text-secondary"><b>Create Issue</b></h2>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <input type="date" class="form-control" id="floatingInput" placeholder="Issue Date">
                            <label for="floatingInput">Issue Date</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Reference No">
                            <label for="floatingInput">Reference No</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <select class="form-control" id="BranchID" name="">
                                <option selected value="0">Select Branch</option>
                                <option value="1">Shahrah-e-Faisal</option>
                                <option value="1">Gulshan</option>
                                <option value="1">Korangi</option>
                                <option value="1">North Nazimabad</option>
                                <option value="1">DHA Phase 1</option>
                            </select>
                            <label for="floatingInput">Branch</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <select class="form-control" id="RequisitionID" name="">
                                <option selected value="0">Select Requisition</option>
                                <option value="1">RQ-1012</option>
                                <option value="2">RQ-1198</option>
                                <option value="3">RQ-1293</option>
                                <option value="4">RQ-1342</option>
                            </select>
                            <label for="floatingInput">Requisition</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="floatingInput" placeholder="Memo">
                            <label for="floatingInput">Memo</label>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class=" row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn btn-secondary mr-2 ps-4 pe-4">Save</button>
                                        <button class="btn btn-light ms-1 ps-4 pe-4">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>


