
@{
    ViewBag.Title = "CreatePaymentVouncher";
    Layout = "~/Views/Shared/_WarehouseLayout.cshtml";
}



<div class="row">
    <div class="col-12 grid-margin">
        <div class="card">
            <div class="card-body">
                <h2 class="text-secondary"><b>Create Payment Vounche</b></h2>
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <input type="date" class="form-control" id="floatingVoucherDate" placeholder="Voucher Date">
                            <label for="floatingVoucherDate">Voucher Date</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <select class="form-control" id="VendorID" name="">
                                <option selected value="0">Select Vendor</option>
                                <option value="1">Ashfaq Ahmed</option>
                                <option value="2">Shahrukh Khan</option>
                                <option value="3">Saba Waqas</option>
                                <option value="4">Abdul Ahad</option>
                                <option value="5">Zulfiqar</option>


                            </select>
                            <label for="floatingInput">Vendor ID</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <select class="form-control" id="floatingPaymentMethod" placeholder="Payment Method">
                                <option value="Cash ">Cash</option>
                                <option value="Bank ">Bank </option>
                            </select>
                            <label for="floatingPaymentMethod">Payment Method</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <select class="form-control" id="AccountID" name="">
                                <option selected value="0">Select Account</option>
                                <option value="1">Cash Home (Cash)</option>
                                <option value="2">Karachi Institute of Economics and Technology (Bank)</option>
                                <option value="3">Abdul Ahad (Bank)</option>
                            </select>
                            <label for="floatingInput">Account</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <input type="text" class="form-control" id="floatingInstrumentNo" placeholder="Instrument No">
                            <label for="floatingInstrumentNo">Instrument No</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <input type="date" class="form-control" id="floatingInstrumentDate" placeholder="Instrument Date">
                            <label for="floatingInstrumentDate">Instrument Date</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3 mt-3">
                            <input type="number" class="form-control" id="floatingAmount" placeholder="Amount">
                            <label for="floatingAmount">Amount</label>
                        </div>
                    </div>




                    <div class="row mt-3">
                        <div class=" row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="col-sm-9">
                                        <button type="submit" class="btn btn-secondary mr-2 ps-4 pe-4">Save</button>
                                        <button class="btn btn-light ms-1 ps-4 pe-4">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</div>




