
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_WarehouseLayout.cshtml";
}


<div class="row">
    <div class="col-12 grid-margin">
        <div class="card bg-secondary">
            <div class="card-body d-flex justify-content-center align-items-center" style="height: 100vh;">
                <h2 class="text-center text-5xl text-white">WAREHOUSE DASHBOARD</h2>
            </div>
        </div>
    </div>
</div>



