
@{
    ViewBag.Title = "RequisitionList";
    Layout = "~/Views/Shared/_WarehouseLayout.cshtml";
}

<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col-md-3">
                <div class="input-group input-group-sm mb-3">
                    <select class="form-select" id="inputGroupSelectStart">
                        <option selected>Choose Action</option>
                        <option value="1">Received</option>
                        <option value="1">Pending</option>
                    </select>
                    <button class="btn btn-secondary" type="button">Apply</button>
                </div>
            </div>
            <div class="col-md-3 ms-auto">
                <div class="input-group input-group-sm mb-3">
                    <input type="text" class="form-control" id="floatingInput" placeholder="Search">
                    <button class="btn btn-secondary" type="button"><i class="fas fa-search"></i></button>
                </div>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="table-light">
                    <tr>
                        <th scope="col" class="fit-content">
                            <input class="form-check-input" type="checkbox" value="" id="selectAll" onclick="toggleAll(this)">
                        </th>
                        <th scope="col">Requisition Date</th>
                        <th scope="col">Requisition No</th>
                        <th scope="col">Branch</th>
                        <th scope="col">Items</th>
                        <th scope="col">Status</th>
                        <th scope="col" class="fit-content">Option</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td>2024-10-01</td>
                        <td>REQ-001</td>
                        <td>Shahrah-e-Faisal</td>
                        <td>Sugar, Cooking Oil</td>
                        <td>
                            <span style="background-color: forestgreen;color:white; border-radius:6px; padding:5px 10px 5px 10px; font-size: 0.8rem !important" class="label">
                                Issued
                            </span>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">
                                    <i class="bi bi-three-dots-vertical" style="font-size: 1.5rem;"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-eye" style="font-size: 1.25rem;"></i> View</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-check-circle" style="font-size: 1.25rem;"></i> Received</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-hourglass-split" style="font-size: 1.25rem;"></i> Pending</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td>2024-10-03</td>
                        <td>REQ-003</td>
                        <td>Korangi Crossing</td>
                        <td>Sugar, Potato</td>
                        <td>
                            <span style="background-color: red;color:white; border-radius:6px; padding:5px 10px 5px 10px; font-size: 0.8rem !important" class="label">
                                Rejected
                            </span>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">
                                    <i class="bi bi-three-dots-vertical" style="font-size: 1.5rem;"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-eye" style="font-size: 1.25rem;"></i> View</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-check-circle" style="font-size: 1.25rem;"></i> Received</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-hourglass-split" style="font-size: 1.25rem;"></i> Pending</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" class="form-check-input"></td>
                        <td>2024-10-02</td>
                        <td>REQ-002</td>
                        <td>North Karachi</td>
                        <td>Potato</td>
                        <td>
                            <span style="background-color: lightslategrey;color:white; border-radius:6px; padding:5px 10px 5px 10px; font-size: 0.8rem !important" class="label">
                                Pending
                            </span>
                        </td>
                        <td>
                            <div class="dropdown">
                                <button class="btn" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" style="background: none; border: none;">
                                    <i class="bi bi-three-dots-vertical" style="font-size: 1.5rem;"></i>
                                </button>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-eye" style="font-size: 1.25rem;"></i> View</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-check-circle" style="font-size: 1.25rem;"></i> Received</a></li>
                                    <li><a class="dropdown-item" href="#"><i class="bi bi-hourglass-split" style="font-size: 1.25rem;"></i> Pending</a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>


<script>
    // Function to toggle all checkboxes
    function toggleAll(source) {
        const checkboxes = document.querySelectorAll('.form-check-input');
        checkboxes.forEach(checkbox => checkbox.checked = source.checked);
    }</script>

